In [ ]:
#Quest-1: What are the two values of the Boolean data type? How do you write them?
#Answer: Two values of Boolean: True and False
a=True
b=False

In [ ]:
#Quest-2: What are the three different types of Boolean operators?
#Answer: AND , OR , NOT

In [7]:
#Quest-3: Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).
#Answer: Operator "AND"  [Value: True = 1, False = 0]
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [8]:
# Operator "OR"
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [9]:
# Operator "NOT"
print(not(True))
print(not(False))

False
True

In [10]:
#Quest-4: What are the values of the following expressions?
""" 
(5 > 4) and (3 == 5)
not (5 > 4)
(5 > 4) or (3 == 5)
not ((5 > 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)

"""
#Answer: (1) (5 > 4) and (3 == 5)  >>> (Ture) and (False) result: False (Ref Answer-3)
(5 > 4) and (3 == 5)

False

In [11]:
#(2) not(5>4) Result: False    (Ref Answer-3)
not(5>4)

False

In [12]:
#(3) (5 > 4) or (3 == 5)  >>> (Ture) and (False) result: True (Ref Answer-3)
(5 > 4) or (3 == 5)

True

In [13]:
#(4)  (True and True) and (True==False) >>> (True) and (Flase) >>> Result: False  (Ref Answer-3)
(True and True) and (True==False)

False

In [14]:
#(5)  (not False) or (not True)  >> (True) or (False) >>> Result: True
(not False) or (not True)

True

In [15]:
#Quest-5: What are the six comparison operators?
#Answer:   == ,   > ,   < ,  <= , >= , !=
a=10
b=20
c=10
# Let us try to use all 6 comparison operators and getting output True.
print(a==c)
print(b>a)
print(a<b)
print(a>=c)
print(a<=c)
print(a!=b)

True
True
True
True
True
True

In [17]:
#Quest-6: How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.
#Answer: Assignment Operator: = is a assignment operator , this assigns a value to varriable or expression. When we have to assign a value, use = .
#        a= 10 , here = to assigning a value 10 to varriable a.
#        Equal Operator : == operator is used to perform comparison. Ex: 'Suraj'=='Suraj , in this case we are making comparison so use == .
'Suraj'=='Suraj'

True

In [19]:
#Quest-7: Identify the three blocks in this code:
"""

spam = 0
if spam == 10:
print('eggs')
if spam > 5:
print('bacon')
else:
print('ham')
print('spam')
print('spam')

"""
#Answer: 
spam = 0
if spam == 10:                # Entry to Block A
  print('eggs')
  if spam > 5:                # Entry to Block B, inside block A
    print('bacon')
  else:                       # Entry to Block C, inside block A
    print('ham')
  print('spam')               # Block C ended in above line
print('spam')                 # Block A end in above line.From entry of A till above line we were in block A.

spam

In [38]:
#Quest-8: Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.
#Answer:

spam=int(input("Enter spam value: "))
if spam==1:
  print("Hello")
elif spam==2:
    print("Howdy")
else:
  print("Greetings!")

Enter spam value: 1
Hello

In [ ]:
# Quest-9: If your programme is stuck in an endless loop, what keys you’ll press?
#Answer: Ctrl+C

In [ ]:
# Quest-10: How can you tell the difference between break and continue?
#Answer: Break: Break terminates the execution of the current loop and passes the control over the next loop.
#        Continue: Continue skips the current iteration and executes the very next iteration in the loop.

In [47]:
# Quest-11: In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?
# Answer: Meaning is same for all three (0,1,2,3,4,5,6,7,8,9)
for i in range(10):
  print(i, end=" ")
print("Result is from 1st Condition")

for i in range(0,10):
  print(i, end=" ")
print("Result is from 2nd Condition")

for i in range(0,10,1):
  print(i, end=" ")
print("Result is from 3rd Condition")

0 1 2 3 4 5 6 7 8 9 Result is from 1st Condition
0 1 2 3 4 5 6 7 8 9 Result is from 2nd Condition
0 1 2 3 4 5 6 7 8 9 Result is from 3rd Condition

In [6]:
# Quest-12: Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.
# Answer:
for i in range(1,11):
  print(i,end=" ")
print("\r")

i=1
while i<11:
  print(i, end=" ")
  i=i+1

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [ ]:
#Quest-13: If you had a function named bacon() inside a module named spam, how would you call it after importing spam?
#Answer:  spam.bacon()