In [5]:
# Quest-1: What exactly is []?
#Answer: A empty list containing no values.
a=[]
type(a)

list

In [9]:
# Quest-2: 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)
# Answer: 
spam=[2,4,6,8,10]                  # As we know list is a mutable intity, so we replace 3rd index value to "hello" from 6.
spam[2]='hello'
spam

[2, 4, 'hello', 8, 10]

In [11]:
## Let's pretend the spam includes the list ['a','b','c','d'] for the next three queries.
# Quest-3: What is the value of spam[int(int('3'* 2) / 11)]?
#Answer:
spam=['a','b','c','d']
spam[int(int('3'* 2) / 11)]                         # '3'*2 >>>  '33' >>>  int('33') >>> int(33 /11) >>> 3 (int type)    in spam index [0,1,2,3] >> ['a','b','c','d']

'd'

In [19]:
# Quest-4: What is the value of spam[-1]?
spam[-1]

'd'

In [20]:
# Quest-5: What is the value of spam[:2]?
#Answer:
spam[:2]

['a', 'b']

In [21]:
# Let's pretend bacon has the list [3.14,'cat' ,11 ,'cat', True] for the next three questions.
# Quest-6: What is the value of bacon.index('cat')?
# Answer:
bacon=[3.14,'cat' ,11 ,'cat', True]
bacon.index('cat')                                            # bacon index [0,1,2,3,4]    this will fetch index for first 'act' only

1

In [22]:
# Quest-7: How does bacon.append(99) change the look of the list value in bacon?
# Answer:
bacon.append(99)                          # 99 will added at the end.
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [23]:
# Quest-8: How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?
# Answer:
bacon.remove('cat')  # This will remove first 'cat' from list.
bacon

[3.14, 11, 'cat', True, 99]

In [34]:
# Quest-9: What are the list concatenation and list replication operators?
# Answer: 
# List concatenation: 
l1=[1,2,3,4,5]
l2=[6,7,8,9]
l3=l1+l2             # Concatenation
l3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
# List replication: 
l4=l1*3               # Replication
l4

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [40]:
# Quest-10: What is difference between the list methods append() and insert()?
# Answer:
l1=[1,2,3,4,5]
l1.append(10)
print("After append :",l1)        # Append will add element at the end
l1.insert(2,'A')                  # Insert will give you flexibity where you want to insert element . In this case at 2nd index.
print("After inserting :",l1)

After append : [1, 2, 3, 4, 5, 10]
After inserting : [1, 2, 'A', 3, 4, 5, 10]

In [43]:
# Quest-11: What are the two methods for removing items from a list?
# Answer:
l1=[1,2,3,4,5]
l1.pop()                # POP will 1 element from last in the list.
print("POP Option : ",l1)
l1.remove(2)            # Remove gives flexibity which element you want to remove as per your choice.
print("Remove Option : ",l1)

POP Option :  [1, 2, 3, 4]
Remove Option :  [1, 3, 4]

In [47]:
# Quest-12: Describe how list values and string values are identical.
# Answer: <<<< List and string both are used to store value /data and both are sequence >>>>

# List value:
#      1- List is sequence.        ***********
#      2- List is is mutable.
#      3- List can hold anything.

l1=['abc',123,'@',1.25, complex(3,4)]
l1[1]=1000
print(l1)                 # Mutable
type(l1[4])

['abc', 1000, '@', 1.25, (3+4j)]

complex

In [50]:
# String Value:
#      1- String is sequence.      ************
#      2- String is is immutable.
#      3- String can hold only chars.

s="abc,123,@,1.25, complex(3,4)"
print(type(s[1]))
print(type(s[4]))

<class 'str'>
<class 'str'>

In [51]:
# Quest-13: What&#39;s the difference between tuples and lists?
#Answer:

# List value:      
#      1- List is is mutable.
#      2- List can hold anything.

l1=['abc',123,'@',1.25, complex(3,4)]
l1[1]=1000                                # Mutabilty test
print(l1)                 # Mutable
type(l1[4])

['abc', 1000, '@', 1.25, (3+4j)]

complex

In [55]:
# tuple Value:
#      1- tuples are more memory efficient than the lists     
#      2- tuple is is immutable.


s=('abc',123,'@',1.25, complex(3,4))
s[1]=1000                                # Not mutable

TypeError: ignored

In [65]:
# Quest-14: How do you type a tuple value that only contains the integer 42?
# Answer: 
t=(42,)
type(t)

tuple

In [76]:
# Quest-15: How do you get a list value's tuple form? How do you get a tuple value's list form?
#Answer: 
l=[1,2,3,4]                 # l is list
type(l)

list

In [77]:
t=tuple(l)                  # from list to tuple
print(t)
type(t)

(1, 2, 3, 4)

tuple

In [79]:
l1=list(t)                   # tuple to list
print(l1)
type(l1)

[1, 2, 3, 4]

list

In [88]:
# Quest-16: Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
# Answer: Here variable X is containing references to list values
x="[1,2,3,4],abc,@"                  # Refernces >>> index 1st : [,  index 2nd: 1, index 3rd : 2
x.index('2')

3

In [115]:
# Quest-17: How do you distinguish between copy.copy() and copy.deepcopy()?
# Answer: 
""" copy() creates reference to original object. If you change copied object - you change the original object.
 .deepcopy() creates new object and does real copying of original object to new one."""

#SEE CASE-1 and CASE-2 for explaination-
import copy
#CASE-1: copy.deepcopy()
l1=[1,2,[3,4],5]
l2=copy.deepcopy(l1)          # Deepcopy of l1
print("l2 : ",l2)
l2[2][0]='b'
print("l2 after modification ------: ",l2)
print("l1 after modification in l2 : ",l1)

print("** No change in original list l1. **")

l2 :  [1, 2, [3, 4], 5]
l2 after modification ------:  [1, 2, ['b', 4], 5]
l1 after modification in l2 :  [1, 2, [3, 4], 5]
** No change in original list l1. **

In [116]:
#CASE-2: copy.copy()
l3=[1,2,[3,4],5]
l4=copy.copy(l3)
l4[2][0]='a'
print("l4 after modification -----: ",l4)
print("l3 after modification in l4: ",l3)

print("** Original list l1 changed. **")

l4 after modification -----:  [1, 2, ['a', 4], 5]
l3 after modification in l4:  [1, 2, ['a', 4], 5]
** Original list l1 changed. **