In [ ]:
#Quest-1:
"""Create a function that takes three arguments a, b, c and returns the sum of the
numbers that are evenly divided by c from the range a, b inclusive.

Examples
evenly_divisible(1, 10, 20) ➞ 0
# No number between 1 and 10 can be evenly divided by 20.
evenly_divisible(1, 10, 2) ➞ 30
# 2 + 4 + 6 + 8 + 10 = 30
evenly_divisible(1, 10, 3) ➞ 18
# 3 + 6 + 9 = 18

"""

In [3]:
#Answer:
def sum(a,b,c):
  """ This function takes three arguments a, b, c and returns the sum of the numbers, that are evenly divided by c from the range a, b inclusive """  
  n=0
  for i in range(a,b+1):
    if i%c==0:
      n=n+i
  print("sum of evenly divisible no : ",n)

In [4]:
sum(1,10,20)

sum of evenly divisible no :  0

In [5]:
sum(1,10,2)

sum of evenly divisible no :  30

In [6]:
sum(1,10,3)

sum of evenly divisible no :  18

In [ ]:
#Quest-2: Create a function that returns True if a given inequality expression is correct and False otherwise.
"""
Examples
correct_signs(" 3 < 7 < 11 ") ➞ True
correct_signs(" 13 > 44 > 33 > 1 ") ➞ False
correct_signs(" 1 < 2 < 6 < 9 >3 ") ➞ True

"""

In [26]:
#Answer:
def inq_exp(a):
  """This function will evaluate ixpression, enter expresssion in between " " only."""
  try:
   x=eval(a)
   print(x)
  except:
    print(" Follow function guidlines for result ")

In [27]:
inq_exp("3 < 7 < 11")

True

In [28]:
inq_exp("13 > 44 > 33 > 1")

False

In [30]:
inq_exp(" 1 < 2 < 6 < 9 >3" )

True

In [ ]:
# Quest-3: Create a function that replaces all the vowels in a string with a specified character.
"""
Examples
replace_vowels("the aardvark","#") ➞ "the# ##rdv#rk"
replace_vowels("minnie mouse","?") ➞ "m?nn?? m??s?"
replace_vowels("shakespeare","*") ➞ "sh*k*sp**r*"

"""

In [39]:
#Answer: 
def rep_vow(string,schr):
  """ This function replaces all the vowels in a string with a specified character given as input """
  try:
   l='AEIOUaeiou'
   for i in l:
     string=string.replace(i,schr)
   return string
  except:
    print(" Follow function guidlines for result ")

In [40]:
rep_vow("the aardvark","#")

'th# ##rdv#rk'

In [41]:
rep_vow("minnie mouse","?")

'm?nn?? m??s?'

In [42]:
rep_vow("shakespeare","*")

'sh*k*sp**r*'

In [42]:
# Quest-4: Write a function that calculates the factorial of a number recursively.
"""
Examples
factorial(5) ➞ 120
factorial(3) ➞ 6
factorial(1) ➞ 1
factorial(0) ➞ 1

"""

In [61]:
#Answer: 
def fact(n):
  """ function that calculates the factorial of a number recursively """
  if n>=0:
   a=1
   for i in range(1,n+1):
     a=a*i
   return a
  else:
    print("Inter natural numbers only")

In [64]:
fact(5)

120

In [ ]:
#Quest-5: 
"""
Hamming distance is the number of characters that differ between two strings.
To illustrate:

String1: "abcbba"
String2: "abcbda"

Hamming Distance: 1 - "b" vs. "d" is the only difference.

Create a function that computes the hamming distance between two strings.

Examples
hamming_distance("abcde", "bcdef") ➞ 5

hamming_distance("abcde", "abcde") ➞ 0

hamming_distance("strong", "strung") ➞ 1

"""

In [75]:
#Answer: 
def ham_dis(s1,s2):
  """ The funtion return hamming distance, enter input like :  "abcde", "bcdef".   """
  try:
   a=0
   for i in range(len(s1)):
     if s1[i]!=s2[i]:
       a=a+1
   return a
  except:
    print("Enter input as per instruction ")

In [76]:
ham_dis("abcde", "bcdef")

5

In [77]:
ham_dis("abcde", "abcde")

0

In [78]:
ham_dis("strong", "strung")

1