In [10]:
#Quest-1: 
"""
Question1. Write a function that stutters a word as if someone is struggling to read it. The
first two letters are repeated twice with an ellipsis ... and space after each, and then the
word is pronounced with a question mark ?.
Examples
stutter(incredible) ➞ "in... in... incredible?"
stutter(enthusiastic) ➞ "en... en... enthusiastic?"
stutter(outstanding) ➞ "ou... ou... outstanding?"

Hint :- Assume all input is in lower case and at least two characters long.

"""

In [64]:
#Answer:
def stutters(s):
  """ enter the word """
  s1 = s[:2]
  return (((s1+"...")*2) + s + '?')

In [65]:
stutters("incredible")

'in...in...incredible?'

In [ ]:
#Quest-2:
"""
Create a function that takes an angle in radians and returns the corresponding
angle in degrees rounded to one decimal place.

Examples
radians_to_degrees(1) ➞ 57.3
radians_to_degrees(20) ➞ 1145.9
radians_to_degrees(50) ➞ 2864.8
"""

In [104]:
#Answer:
def temp_con(*t):
  """enter tempreture in radian """
  t=t
  # Radian to degree conversion
  l=[]
  for i in t:
    d=round(((i*180)/3.14159),1)
    l.append(d)
  yield l

In [105]:
for t in temp_con(1,20,50):
  print(t)

[57.3, 1145.9, 2864.8]

In [ ]:
#Quest-3:
"""
In this challenge, establish if a given integer num is a Curzon number. If 1 plus 2 
elevated to num is exactly divisible by 1 plus 2 multiplied by num, then num is a Curzon number.

Given a non-negative integer num, implement a function that returns True if num is a Curzon
number, or False otherwise.

Examples
is_curzon(5) ➞ True
# 2 ** 5 + 1 = 33
# 2 * 5 + 1 = 11
# 33 is a multiple of 11

is_curzon(10) ➞ False
# 2 ** 10 + 1 = 1025
# 2 * 10 + 1 = 21
# 1025 is not a multiple of 21

is_curzon(14) ➞ True
# 2 ** 14 + 1 = 16385
# 2 * 14 + 1 = 29
# 16385 is a multiple of 29

"""

In [107]:
#Answer:
def curz_num(n):
  a=(2**n) + 1
  b=(2*n) + 1
  if a%b==0:
    return True
  else:
    return False

In [108]:
curz_num(5)

True

In [109]:
curz_num(10)

False

In [110]:
curz_num(14)

True

In [119]:
# Quest-4: Given the side length x find the area of a hexagon.
#Answer:
def area_hex(s):
  """ Enter side of hexagon """
  import math
  A=((math.sqrt(3))*3*s**2)/2
  return round(A,1)

In [120]:
area_hex(1)

2.6

In [121]:
area_hex(2)

10.4

In [122]:
area_hex(3)

23.4

In [ ]:
# Quest-5: 
"""
Question 5. Create a function that returns a base-2 (binary) representation of a base-10
(decimal) string number. To convert is simple: ((2) means base-2 and (10) means base-10)
010101001(2) = 1 + 8 + 32 + 128.

Going from right to left, the value of the most right bit is 1, now from that every bit to the left
will be x2 the value, value of an 8 bit binary numbers are (256, 128, 64, 32, 16, 8, 4, 2, 1).

Examples
binary(1) ➞ "1"
# 1*1 = 1
binary(5) ➞ "101"
# 1*1 + 1*4 = 5
binary(10) ➞ "1010"
# 1*2 + 1*8 = 10

"""

In [8]:
def binaryToDecimal(n):
  """ Binary to decimal conversion, enter binary number """
  a=str(n)
  dec=0
  i=len(a)-1
  for j in a:
    d=int(j)*(2**i)
    dec=dec+d
    i=i-1
  print(dec)

In [11]:
binaryToDecimal(1100101)

101

In [9]:
def DecToBin(n):
  """ Enter dec num to convert to binary """
  if n >= 1:
    DecToBin(n // 2)
    print (n % 2,end="")

In [10]:
#Answer:
DecToBin(101)

1100101