In [ ]:
#Quest-1:
"""
Create a function that takes a number as an argument and returns True or False depending on 
whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

"""

In [36]:
#Answer:
def is_sym(n):
  """ This function will test symetry in the given number"""
  n=str(n)
  if len(n)>=4:
   l=[]
   for i in n:
     l.append(i)
   n=round(len(l)/2)+1
   l1=l[:n]
   l2=l[n:]
   for i in range(len(l2)):
     if l1[i]==l2[i]:
       continue
     else:
       return False
       break
   return True
  else:
    return "Enter only string or int value with min 4 chr in lenth"

In [37]:
is_sym(7227)

True

In [38]:
is_sym(12567)

False

In [39]:
is_sym(44444444)

True

In [ ]:
#Quest-2:
"""
numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

"""

In [91]:
#Answer:
def mult(s):
  """This function will return multiplication value"""
  try:
   s=s.split(',')
   a=[int(i) for i in s]
   n=1
   for i in a:
     n=n*i
   return n
  except:
    return "Enter string only with integrs"

In [93]:
mult("2, 3")

6

In [94]:
mult("54, 75, 453, 0")

0

In [95]:
mult("10, -2")

-20

In [ ]:
#Quest-3:
"""
Create a function that squares every digit of a number.

Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

"""

In [112]:
#Answer:
def digi_sqr(n):
  """This function will squre digits in a number"""
  n=str(n)
  for i in n:
    yield int(i)**2

In [113]:
for i in digi_sqr(9119):
  print(i,end="")

811181

In [114]:
for i in digi_sqr(2483):
  print(i,end="")

416649

In [ ]:
#Quest-4:
"""
Create a function that sorts a list and removes all duplicate items from it.

Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

"""

In [121]:
#Answer:
def rem_dup(l):
  l.sort()
  a=set(l)
  return [i for i in a]

In [122]:
rem_dup([1, 3, 3, 5, 5])

[1, 3, 5]

In [123]:
rem_dup([4, 4, 4, 4])

[4]

In [ ]:
#Quest-5:
"""
Create a function that returns the mean of all digits.

Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

"""

In [128]:
#Answer:
def mean(n):
  n=str(n)
  a=0
  for i in n:
    a=a+int(i)
  b=a/len(n)
  return int(b)

In [132]:
mean(42)

3

In [133]:
mean(12345)

3

In [134]:
mean(666)

6