In [10]:
#Quest-1: Create a function that takes a list of non-negative integers and strings and return a new list without the strings.
"""
Examples
filter_list([1, 2, "a", "b"]) ➞ [1, 2]

filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]

filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]

"""

In [26]:
#Answer:
def pure_int_list(l):
  """ This function will keep only non-negative int """
  l1=[]
  for i in l:
     if type(i)==int and i>=0:
       l1.append(i)
  return l1

In [25]:
pure_int_list([1, 2,-3,"a", "b"])

[1, 2]

In [ ]:
#Quest-2: The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.
"""
Examples
reverse("Hello World") ➞ "DLROw OLLEh"

reverse("ReVeRsE") ➞ "eSrEvEr"

reverse("Radar") ➞ "RADAr"

"""

In [40]:
#Answer:
def reverser(s):
  """ This function will reverse string and case """
  s=s.swapcase()
  s=s[::-1]
  return s

In [41]:
reverser("Hello World")

'DLROw OLLEh'

In [ ]:
# Quest-3: 
"""
You can assign variables from lists like this:
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]

print(first) ➞ outputs 1
print(middle) ➞ outputs [2, 3, 4, 5]
print(last) ➞ outputs 6
With Python 3, you can assign variables from lists in a much more succinct way. 
Create variables first, middle and last from the given list using destructuring assignment (check the Resources tab for some examples), where:

first  ➞ 1

middle ➞ [2, 3, 4, 5]

last ➞ 6

Your task is to unpack the list writeyourcodehere into three variables, being first, 
middle, and last, with middle being everything in between the first and last element. Then print all three variables.

"""

In [42]:
#Answer:
# As per my understanding I will write code to perform above shown operartion.
 
def list_break(l):
  first=[]
  middle=[]
  last=[]

  for i in range(len(l)):
    if i==0:
      first.append(l[i])
    elif i==(len(l)-1):
      last.append(l[i])
    else:
      middle.append(l[i])
  return first, middle, last

In [46]:
for i in list_break([1, 2, 3, 4, 5, 6]):
  if len(i)<=1:
    for j in i:
      print(j)
  else:
    print(i)

1
[2, 3, 4, 5]
6

In [ ]:
# Quest-4:
"""
Write a function that calculates the factorial of a number recursively.

Examples
factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

"""

In [53]:
#Answer:
def fact(n):
  a=1
  for i in range(1,n+1):
    a=a*i
  return a

In [54]:
fact(5)

120

In [ ]:
#Quest-5:
"""
Write a function that moves all elements of one type to the end of the list.
Examples
move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]
# Move all the 1s to the end of the array.

move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]

move_to_end(["a", "a", "a", "b"], "a") ➞ ["b", "a", "a", "a"]

"""

In [60]:
#Answer: 

def move_fun(l,n):
  try:
   for i in l:
     if i==n:
       l.remove(i)
       l.append(i)
   return l
  except:
    print("Enter input correctly")

In [61]:
move_fun([1, 3, 2, 4, 4, 1], 1)

[3, 2, 4, 4, 1, 1]

In [62]:
move_fun([7, 8, 9, 1, 2, 3, 4], 9)

[7, 8, 1, 2, 3, 4, 9]

In [63]:
move_fun(["a", "a", "a", "b"], "a")

['b', 'a', 'a', 'a']