In [ ]:
#Quest-1:
"""
Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]

filter_list(["Nothing", "here"]) ➞ []

"""

In [ ]:
#Answer:
def int_list(l):
  """This function will return list of int only """
  try:
   l1=[]
   for i in l:
     if type(i)==int:
       l1.append(i)
   return l1
  except:
    print("Enter correct input")

In [ ]:
int_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [ ]:
# Quest-2:
"""
Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

"""

In [ ]:
#Answer:
def sp_list(l):
  """This function will return list of int only """
  try:
   l1=[]
   n=0
   for i in l:
     l1.append(i+n)
     n=n+1
   return l1
  except:
    print("Enter correct input")

In [ ]:
sp_list([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [ ]:
sp_list([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

In [ ]:
# Quest-3: 
"""
Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
 
Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

"""

In [ ]:
#Answer:
def vol_cone(h,r):
  """This fnction will return volume of cone, enter h and r value"""
  import math
  v=(3.14159*r*2*h)/3
  return round(v,2)

In [ ]:
vol_cone(3,2)

12.57

In [ ]:
# Quest-4:
"""
This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.
Examples
triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

"""

In [ ]:
#Answer:
def tri(n):
  """ This Triangular Number Sequence is generated from a pattern of dots that form a triangle """
  s=0
  for i in range(1,n+1):
    s=s+i
  return s

In [ ]:
tri(6)

21

In [ ]:
tri(215)

23220

In [ ]:
#Quest-5:
"""
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

"""

In [12]:
#Answer:
def miss_num(l):
  """ This number will generate list of missing number in the sequence """
  s2={2,3,4,5,6,7,8,9,10}
  s1=set(l)
  s=s2.difference(s1)
  return s

In [13]:
miss_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

{5}

In [14]:
miss_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

{10}

In [15]:
miss_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

{7}

In [9]:
# Alteration:.......Practice.
def miss_num_adv(l):
  """ This number will generate list of missing number in the sequence """
  l.sort()
  a=l[0]
  n=len(l)
  b=l[n-1]
  l1=[]
  for i in range(a,b+1):
    l1.append(i)
  s1=set(l)
  s2=set(l1)
  s=s2.difference(s1)
  if len(s)>=1:
    return s
  else:
    return "Blank,no missing data in lower and upper range"

In [10]:
miss_num_adv([1, 2, 3, 4, 6, 7, 8, 9, 10])

{5}

In [11]:
miss_num_adv([7, 2, 3, 6, 5, 9, 1, 4, 8])

'Blank,no missing data in lower and upper range'