In [ ]:
#Quest-1:
"""
Create a function that takes a string and returns a string in which each character is repeated once.
Examples
double_char("String") ➞ "SSttrriinngg"

double_char("Hello World!") ➞ "HHeelllloo  WWoorrlldd!!"

double_char("1234!_ ") ➞ "11223344!!__  "

"""

In [ ]:
#Answer:
def rep(s):
  a=""
  for i in s:
    a=a+i*2
  return a

In [ ]:
rep("String")

'SSttrriinngg'

In [ ]:
rep("Hello World!")

'HHeelllloo  WWoorrlldd!!'

In [ ]:
rep("1234!_ ")

'11223344!!__  '

In [ ]:
# Quest-2:
"""
Create a function that reverses a boolean value and returns the string "boolean expected" if another variable type is given.

Examples
reverse(True) ➞ False

reverse(False) ➞ True

reverse(0) ➞ "boolean expected"

reverse(None) ➞ "boolean expected"

"""

In [ ]:
#Answer:
def reverser(s):
  if type(s)==bool:
    return not s
  else:
    return "boolean expected"

In [ ]:
reverser(True)

False

In [ ]:
#Quest-3:
"""
Create a function that returns the thickness (in meters) of a piece of paper after folding it n number of times. The paper starts off with a thickness of 0.5mm.

Examples
num_layers(1) ➞ "0.001m"
# Paper folded once is 1mm (equal to 0.001m)

num_layers(4) ➞ "0.008m"
# Paper folded 4 times is 8mm (equal to 0.008m)

num_layers(21) ➞ "1048.576m"
# Paper folded 21 times is 1048576mm (equal to 1048.576m)

"""

In [ ]:
#Answer:
def thk(n):
  """ Enter number of fold """
  t=0.5                
  t1=t/1000   
  T=t1*(2**n)
  return T

In [ ]:
print(thk(21),"m")

1048.576 m

In [ ]:
#Quest-4:
"""
Create a function that takes a single string as argument and returns an ordered list containing the indices of all capital letters in the string.

Examples
index_of_caps("eDaBiT") ➞ [1, 3, 5]

index_of_caps("eQuINoX") ➞ [1, 3, 4, 6]

index_of_caps("determine") ➞ []

index_of_caps("STRIKE") ➞ [0, 1, 2, 3, 4, 5]

index_of_caps("sUn") ➞ [1]

"""

In [6]:
#Answer:
def ind(s):
  """This function will revert indices of capital letter, enter string . """
  l=[]
  for i in range(len(s)):
    if s[i].isupper()==True:
      l.append(i)
    else:
      continue
  return l

In [7]:
ind("eQuINoX")

[1, 3, 4, 6]

In [ ]:
# Quest-5:
"""
Using list comprehensions, create a function that finds all even numbers from 1 to the given number.
Examples
find_even_nums(8) ➞ [2, 4, 6, 8]

find_even_nums(4) ➞ [2, 4]

find_even_nums(2) ➞ [2]

"""

In [11]:
#Answer:
def even(n):
  """ This function will yield even number in the given range """
  return [i for i in range(1,n+1) if i%2==0]

In [13]:
even(8)

[2, 4, 6, 8]