In [26]:
#Quest-1: Write a Python program to print &quot;Hello Python&quot;?
#Answer:
print("Hello Python")

Hello Python

In [28]:
#Quest-2: Write a Python program to do arithmetical operations addition and division.?
#Answer: 
a=int(input("enter a: "))
b=int(input("enter b: "))
print("Addition value: ",a+b)
print("Division value:", a/b)

enter a: 20
enter b: 7
Addition value:  27
Division value: 2.857142857142857

In [29]:
1

1

In [45]:
#Quest-3: Write a Python program to find the area of a triangle?
#Answer:Area of a triangle (Heron's formula) 
import math
a=int(input("Enter 1st arm length (in mm): "))
b=int(input("Enter 2nd arm length (in mm): "))
c=int(input("Enter 3rd arm length (in mm): "))
s=(a+b+c)/2
A=math.sqrt((s*(s-a)*(s-b)*(s-c)))
print("Area of triange:", A,"cubic mm")

Enter 1st arm length (in mm): 10
Enter 2nd arm length (in mm): 10
Enter 3rd arm length (in mm): 10
Area of triange: 43.30127018922193 cubic mm

In [50]:
from typing import Container
# Quest-4: Write a Python program to swap two variables?
#Answer:
a=input("Enter value for varriable a: ")
b=input("Enter value for varriable b: ")
a,b=b,a
print("Swapped value of a : {}".format(a)) 
print("Swapped value of b : {}".format(b))

Enter value for varriable a: 10
Enter value for varriable b: 20
Swapped value of a : 20
Swapped value of b : 10

In [55]:
#Quest-5: Write a Python program to generate a random number?
#Answer:
def test(*args):
  import random
  return print(random.randint(10,20))

In [56]:
test("First attempt")

17

In [57]:
test("Second attempt")

19

In [58]:
test("Third attempt")

15

In [ ]:
# Here while calling function test multiple times, we are getting random number in range of 10 to 20.