In [ ]:
#Quest-1:
"""
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.

Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
next_in_line([], 6) ➞ "No list has been selected"

"""

In [7]:
#Answer:
def act_list(l,n):
  """ This function will add element at the end and remove first element from list"""
  if len(l)>=1:
   l.append(n)
   l.remove(l[0])
   return l
  else:
    return "No list has been selected"

In [8]:
act_list([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [9]:
act_list([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [10]:
act_list([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [11]:
act_list([], 6)

'No list has been selected'

In [ ]:
#Quest-2:
"""
Create the function that takes a list of dictionaries and returns the sum of people's budgets.

Examples
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
]) ➞ 65700

get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }])
]) ➞ 62600

"""

In [40]:
#experimented with class function
class budget_fun():
  def __init__(self,name,age,budget):
    self.name=name
    self.age=age
    self.budget=budget
class budget_sum(budget_fun):
  def total():
    return (John.budget+Steve.budget+Martin.budget)

In [41]:
John=budget_fun('John',21,23000)
Steve=budget_fun('Steve',32,40000)
Martin=budget_fun('Martin',16,2700)

In [31]:
budget_sum.total()

65700

In [46]:
#Answer:
def budget_total(l):
  a=0
  for i in l:
    a=a+i['budget']
  return a

In [47]:
budget_total([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

65700

In [48]:
budget_total([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }])

62600

In [ ]:
# Quest-3:
"""
Create a function that takes a string and returns a string with its letters in alphabetical order.

Examples
alphabet_soup("hello") ➞ "ehllo"

alphabet_soup("edabit") ➞ "abdeit"

alphabet_soup("hacker") ➞ "acehkr"

alphabet_soup("geek") ➞ "eegk"

alphabet_soup("javascript") ➞ "aacijprstv"

"""

In [53]:
#Answer: 
def string(s):
  l=[]
  for i in s:
    l.append(i)
  l.sort()
  return "".join(l)

In [56]:
string("hello")

'ehllo'

In [57]:
string("edabit")

'abdeit'

In [58]:
string("hacker")

'acehkr'

In [59]:
string("geek")

'eegk'

In [60]:
string("javascript")

'aacijprstv'

In [ ]:
#Quest-4:
"""
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.

For the example above:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or daily.

Examples
compound_interest(100, 1, 0.05, 1) ➞ 105.0

compound_interest(3500, 15, 0.1, 4) ➞ 15399.26

compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

"""

In [76]:
#Answer:
def com_int(p,t,r,n):
  import math
  A=p*((1+(r/n))**t)
  return round(A,2)

In [78]:
com_int(100,1,0.05,1)

105.0

In [ ]:
#Quest-5:
"""
Write a function that takes a list of elements and returns only the integers.

Examples
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]

return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]

return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20, 3]

return_only_integer(["String",  True,  3.3,  1]) ➞ [1]

"""

In [79]:
#Answer:
def int_list(l):
  l1=[]
  for i in l:
    if type(i)==int:
      l1.append(i)
  return l1

In [81]:
int_list([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [82]:
int_list(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [83]:
int_list([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [84]:
int_list(["String",  True,  3.3,  1])

[1]