In [ ]:
#Quest-1:
"""
Create a function that takes an integer and returns a list from 1 to the given number, where:
1.	If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).
2.	If the number cannot be divided evenly by 4, simply return the number.
Examples
amplify(4) ➞ [1, 2, 3, 40]

amplify(3) ➞ [1, 2, 3]

amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]
Notes
•	The given integer will always be equal to or greater than 1.
•	Include the number (see example above).
•	To perform this problem with its intended purpose, try doing it with list comprehensions. If that's too difficult, just solve the challenge any way you can.

"""

In [2]:
#Answer:
def amp_list(n):
  l=[i for i in range(1,n+1)]
  l1=[]
  for i in l:
    if i%4==0:
      l1.append(i*10)
    else:
      l1.append(i)
  return l1

In [3]:
amp_list(4)

[1, 2, 3, 40]

In [4]:
amp_list(3)

[1, 2, 3]

In [5]:
amp_list(25)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]

In [ ]:
#Quest-2:
"""
Create a function that takes a list of numbers and return the number that's unique.

Examples
unique([3, 3, 3, 7, 3, 3]) ➞ 7

unique([0, 0, 0.77, 0, 0]) ➞ 0.77

unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0
Notes
Test cases will always have exactly one unique number while all others are the same.

"""

In [2]:
#Answer:
def unique_num(l):
  """This function return unique numbers."""
  a=l
  l.sort()
  p=[]
  for i in l:
    n=a.count(i)
    if n>1:
      pass
    else:
      p.append(i)
  return p

In [6]:
for i in unique_num([3, 3, 3, 7, 3, 3]):
  print(i)

7

In [8]:
unique_num([0, 0, 0.77, 0, 0])

[0.77]

In [5]:
for i in unique_num([0, 1, 1, 1, 1, 1, 1, 1]):
  print

0

In [ ]:
#Quest-3:
"""
Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. 
The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) 
which give both respective areas and perimeter (circumference).

For help with this class, I have provided you with a Rectangle constructor which you can use as a base example.

Examples
circy = Circle(11)
circy.getArea()
# Should return 380.132711084365

circy = Circle(4.44)
circy.getPerimeter()
# Should return 27.897342763877365

Notes
Round results up to the nearest integer

"""

In [26]:
class circle_cons:
  def __init__(self,radius):
    self.radius=radius

  def get_area(radius):
    A=3.14159*(radius**2)
    return round(A,2)

  def get_perim(radius):
    P=3.14159*(radius*2)
    return round(P,2)

In [27]:
C1=circle_cons(11)
C2=circle_cons(4.44)

In [28]:
circle_cons.get_area(C1.radius)

380.13

In [29]:
circle_cons.get_perim(C2.radius)

27.9

In [ ]:
# Quest-4:
"""
Create a function that takes a list of strings and return a list, sorted from shortest to longest.

Examples
sort_by_length(["Google", "Apple", "Microsoft"])
➞ ["Apple", "Google", "Microsoft"]

sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])
➞ ["Raphael", "Leonardo", "Donatello", "Michelangelo"]

sort_by_length(["Turing", "Einstein", "Jung"])
➞ ["Jung", "Turing", "Einstein"]

Notes
All test cases contain lists with strings of different lengths, so you won't have to deal with multiple strings of the same length.

"""

In [30]:
#Answer:
def sort_list(l):
  l_sorted=sorted(l,key=len)
  return l_sorted

In [31]:
sort_list(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [32]:
sort_list(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [ ]:
#Quest-5:
"""
Create a function that validates whether three given integers form a Pythagorean triplet. 
The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.

Examples
is_triplet(3, 4, 5) ➞ True
# 3² + 4² = 25
# 5² = 25

is_triplet(13, 5, 12) ➞ True
# 5² + 12² = 169
# 13² = 169

is_triplet(1, 2, 3) ➞ False
# 1² + 2² = 5
# 3² = 9
Notes
Numbers may not be given in a sorted order.

"""

In [46]:
#Answer:
def py_trip(*a):
  """ This function will return if given 3 numbers are pygorian triplesor not."""
  if len(a)!=3:
    return "Enter 3 values only"
  else:
    l=sorted(a)
    if l[0]**2+l[1]**2==l[2]**2:
      return True
    else:
      return False

In [50]:
py_trip(4,3,5)

True

In [48]:
py_trip(13, 5, 12)

True

In [49]:
py_trip(1,2,3)

False